<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przelicznik</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 flex flex-col items-center">

<h1 class="font-bold sm:text-xl md:text-2xl lg:text-5xl xl:text-5xl text-blue-800 m-8">Przelicznik ocenowo-procentowy</h1>

<form method="post" class="m-4">
  <input 
    type="number" 
    class="appearance-none border-2 border-blue-600 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
    name="maxPoints"
    placeholder="Max punktów">
  <input 
    type="submit" 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow-lg"
    value="Oblicz">
</form>

{{if not .}}
  <div class="flex items-center m-4 text-blue-500 font-bold sm:text-xl md:text-xl lg:text-4xl xl:text-4xl"> 
    <p>Wpisz maksymalną ilość punktów do uzyskania w teście</p>
  </div>
{{else if lt .A.Max 6}}
  <div class="flex items-center m-4 text-red-500 font-bold sm:text-xl md:text-xl lg:text-4xl xl:text-4xl"> 
    <p>Liczba możliwych punktów do uzyskania w teście musi być  większa niż 5.</p>
  </div>
{{else}} 
  <div class="rounded-lg overflow-hidden shadow-xl bg-blue-500 flex m-4 p-8 sm:text-xl md:text-xl lg:text-2xl xl:text-2xl">
    <div class="flex flex-col items-center mr-8 text-white font-extrabold"> 
      <div> Celujący </div>
      <div> Bardzo dobry </div>
      <div> Dobry </div>
      <div> Dostateczny </div>
      <div> Dopuszczający </div>
      <div> Niedostateczny </div>
    </div>
    <div class="flex flex-col items-center text-blue-900 font-bold">
      <div>{{.A.Min}} - {{.A.Max}}</div>
      <div>{{.B.Min}} - {{.B.Max}}</div>
      <div>{{.C.Min}} - {{.C.Max}}</div>
      <div>{{.D.Min}} - {{.D.Max}}</div>
      <div>{{.E.Min}} - {{.E.Max}}</div>
      <div>{{.F.Min}} - {{.F.Max}}</div>
    </div>
  </div>
{{end}}

</body>
</html>